<app-search-student (s)="findStudentByName($event)"></app-search-student>
<h1>List Student</h1>
<table>
  <tr>
    <td>id</td>
    <td>Name</td>
    <td>Address</td>
    <td>Mark</td>
    <td>Option</td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
  <ng-container *ngFor="let student of listStudent ; index as i" >
    <tr>
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.address}}</td>
      <td>{{student.mark}}</td>
      <td>{{student.classes.name}}</td>
      <td><a [routerLink]="['/students/edit',i]">Edit</a></td>
      <td><button (click)="remoStudent(i)">Delete</button></td>
    </tr>
  </ng-container>
</table>
<a routerLink="/students/create">Create Student</a>




